# PostgreSQL
# DATABASE_URL="postgresql://USER:PASSWORD@HOST/DATABASE?sslmode=require"
PORT=3333

# Service Endoscopie (API CHU Railway)
ENDOSCOPIE_SERVICE_ID=38f39d38-152e-495b-8c48-28937750d9eb
CHU_API_URL=https://service-chu-back-production-77d5.up.railway.app
